<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Credits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li>OpenClipart</li>
    <ul>
      <li><a href="https://openclipart.org/artist/Treer">Treer</a></li>
    </ul>
    <li>Pexels</li>
    <ul>
      <li><a href="https://www.pexels.com/@mccutcheon">Sharon McCutcheon</a></li>
    </ul>
    <li>Flaticon</li>
    <ul>
      <li><a href="https://www.flaticon.es/icono-gratis/control-de-juego_2962505" title="Payungkead">Payungkead</a></li>
    </ul>
  </ul>
</ion-content>
