<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BoringToe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <div id="container" class="main-container">

    <div>
      <boringtoe-grid *ngIf="(players.length==2) && (gameId!=0) && (winnerPlayer==null) && (gameOver==false)"
                      (ClickedCell)="cellOnClick($event)"
                      [GridData] = "gridData">
      </boringtoe-grid>
    </div>

    <div>
      <ion-card class="main-container-item" *ngIf="gameOver==true">
        <img class="background-image" src="/assets/games-jpg/boringtoe/tic-tac-toe-image.jpg"/>
        <div class="game-over-message">
          <h2><p>GAME OVER</p></h2>
          <p>            
            <span *ngIf="winnerPlayer!=undefined || winnerPlayer!=null"><h3>{{ players[winnerPlayer].player.name }} wins</h3></span> 
            <span *ngIf="winnerPlayer==undefined || winnerPlayer==null"><h3>No more possible moves. Nobody wins.</h3></span>            
          </p>          
        </div>
        <ion-button class="play-again-button" size="large" (click)="startOnClick()">Play Again</ion-button>
      </ion-card>
    </div>

    <div>
      <ion-card class="main-container-item" *ngIf="players.length!=2 || gameId===0">
        <img class="background-image" src="/assets/games-jpg/boringtoe/tic-tac-toe-image.jpg"/>
        <ion-button class="start-button" size="large" (click)="startOnClick()">Start</ion-button>
      </ion-card>
    </div>
    
    <shared-scoreboard [Players]="players" *ngIf="players.length==2 && gameId!=0 && gameOver===false"></shared-scoreboard>

  </div>
</ion-content>

