<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BoringToe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="main-container">

    <div>
      <boringtoe-grid *ngIf="(players.length==2) && (gameId!=0) && (winnerPlayer==null) && (gameOver==false)"
                      (ClickedCell)="cellOnClick($event)"
                      [GridData] = "gridData">
      </boringtoe-grid>
    </div>

    <div>
      <ion-card class="start-wrapper-card" *ngIf="players.length!=2 || gameId===0">
        <ion-button size="large" (click)="startOnClick()">Start</ion-button>
      </ion-card>      
    </div>
    
    <shared-scoreboard [Players]="players" *ngIf="players.length==2 && gameId!=0"></shared-scoreboard>

  </div>
</ion-content>

