<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BoringToe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <boringtoe-grid *ngIf="players.length==2"></boringtoe-grid>
        </ion-col>
        <ion-col class="ion-text-center">
          <shared-scoreboard [Players]="players"></shared-scoreboard>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

