.game-board
{
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    grid-template-columns: auto auto auto;	
	display: inline-grid;
}

.box
{
    border: 6px solid #2c3e50;
    border-radius: 2px;
}