
  <div class="game-board">
    <div class="box"><boringtoe-cell xCoord="0" yCoord="0" [data]="gridArray[0][0]" (clickedCell)="cellOnClick($event)"></boringtoe-cell></div>
    <div class="box"><boringtoe-cell xCoord="1" yCoord="0" [data]="gridArray[1][0]" (clickedCell)="cellOnClick($event)"></boringtoe-cell></div>
    <div class="box"><boringtoe-cell xCoord="2" yCoord="0" [data]="gridArray[2][0]" (clickedCell)="cellOnClick($event)"></boringtoe-cell></div>
    <div class="box"><boringtoe-cell xCoord="0" yCoord="1" [data]="gridArray[0][1]" (clickedCell)="cellOnClick($event)"></boringtoe-cell></div>
    <div class="box"><boringtoe-cell xCoord="1" yCoord="1" [data]="gridArray[1][1]" (clickedCell)="cellOnClick($event)"></boringtoe-cell></div>
    <div class="box"><boringtoe-cell xCoord="2" yCoord="1" [data]="gridArray[2][1]" (clickedCell)="cellOnClick($event)"></boringtoe-cell></div>
    <div class="box"><boringtoe-cell xCoord="0" yCoord="2" [data]="gridArray[0][2]" (clickedCell)="cellOnClick($event)"></boringtoe-cell></div>
    <div class="box"><boringtoe-cell xCoord="1" yCoord="2" [data]="gridArray[1][2]" (clickedCell)="cellOnClick($event)"></boringtoe-cell></div>
    <div class="box"><boringtoe-cell xCoord="2" yCoord="2" [data]="gridArray[2][2]" (clickedCell)="cellOnClick($event)"></boringtoe-cell></div>
  </div>

